.contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin: 5px 0 0 0;
  background-color: aliceblue;
  border-radius: 3px;
}

.edit-button{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
 
.MuiBox-root .css-19kzrtu{
  padding: 5px;
  margin: auto;
}